<div class="row">
    <div>
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <ul>
                <li>Smart Medial Searching Engine aims to help users find the most accurate healthcare information.</li>
                <li>We ensure you the information is no commercial bias.</li>
                <li>We concentrate on the utilities to your health.</li>
                <li>We respect the profession and academic value.</li>
                <li>This is a non-profit project.</li>
                <li><strong>Your generous support will help us do better.</strong></li>
            </ul>
            <form name="alipaypay" class="text-center" method="post" accept-charset="gbk" onsubmit="document.charset='gbk'" action="https://shenghuo.alipay.com/send/payment/fill.htm" target="_blank">
                <input type="hidden" name="optEmail" value="team3.cs792@uwaterloo.ca">
                <input type="hidden" name="payAmount" value="10">
                <input type="hidden" name="title" value="Donate to Smart Medical Searching Engine">
                <input type="hidden" name="memo" value="Donate to Smart Medical Searching Engine">
                <input type="hidden" name="isSend" value="">
                <input type="hidden" name="smsNo" value="">
                <input type="image" src="/static/img/PaypalDonateButton.jpg">
            </form>
            <div class="text-center">
                <img class="text-center" style="max-width: 80%;" src="/static/img/qr.jpg">
            </div>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>
