<div class="row">
    <div class="text-center">
        <div class="col-lg-3"></div>
        <div class="col-lg-6 text-center">
            <img src="/static/img/main_pink.png" width="500">
            <p style="color: deeppink;">
            Oops. Try another keywords...
            </p>
            <form ng-submit="go('/search/{{query}}')" class="form">
                <div class="input-group">
                    <input ng-minlength="2" ng-maxlength="50" ng-model="query" type="text" class="form-control" placeholder="Input disease or symptom, e.g. gall stone">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
                </div>
            </form>
            <div style="display: block; margin-top: 200px;"></div>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>
