<div ng-show="!result" class="text-center" xmlns="http://www.w3.org/1999/html">
    <img src="/static/img/loading_sm.gif">  Loading news...
</div>

<div ng-show="result">
    <div class="row">
        <h4><div class="label label-pill label-default">News - {{result.feed.subtitle}}</div></h4>
    </div>
    <div class="row" ng-repeat="record in result.entries | startFrom:(page_num-1)*page_size | limitTo:page_size track by $index" ng-init="rowid=$index">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-lg-12">
                        <a target="_blank" href="{{record.link}}"><span class="glyphicon glyphicon-bookmark"></span> <strong>{{($index+1)+(page_num-1)*page_size}}. {{record.title}}</strong></a> <span ng-show="record.sim.length" ng-click="showDetails = !showDetails" ng-init="showDetails=false" class="label label-primary">{{record.sim.length}}Similar records <span ng-class="{true:'glyphicon glyphicon-chevron-up', false:'glyphicon glyphicon-chevron-down'}[showDetails]"></span></span>
                        <span class="pull-right">{{record.published}}</span>
                    </div>
                </div>
            </div>
            <div ng-show="showDetails" class="panel-heading" ng-repeat="sim in record.sim">
                <div class="row">
                    <div class="col-lg-12">
                        <a target="_blank" href="{{sim.2}}">[similar content] {{sim.1}}</a>
                        <span class="pull-right">{{sim.3}}</span>
                    </div>
                </div>
            </div>
            <div class="panel-body div-ellipsis">{{record.summary}}</div>
            <hr style="margin: 0px;">
            <div class="panel-body" ng-show="record.images">
                <p ng-if="record.images.length"><span class="glyphicon glyphicon-picture"></span> <a data-fancybox-group="fancy-group-{{rowid}}" class="fancy-image" target="_blank" href="{{image.0}}" title="{{image.1}}" ng-repeat="image in record.images"><img ng-src="{{image.0}}" err-src="/static/img/default_image.png" style="height: 30px;"> </a></p>
            </div>
        </div>
    </div>
    <div class="btn-group btn-group-justified">
        <div class="btn-group">
            <!-- <a ng-disabled="page_prev==-1" href="#/rss/{{query}}/{{page_prev}}" type="button" class="btn btn-default">Previous</a> -->
            <button class="btn btn-default" ng-disabled="page_num == 1" ng-click="page_num=page_num-1">Previous</button>
        </div>
        <div class="btn-group">
            <!-- <a ng-disabled="page_next==-1" href="#/rss/{{query}}/{{page_next}}" type="button" class="btn btn-default">Next</a> -->
            <button class="btn btn-default" ng-disabled="page_num >=page_count" ng-click="page_num=page_num+1">Next ({{page_num}}/{{page_count}})</button>
        </div>
    </div>
</div>
