<!DOCTYPE html>
<html lang=“en" ng-app="uiApp">
<head>
  <meta charset="utf-8">
  <title>Smart Medical Searching</title>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=9">
  <link rel="shortcut ico" href="/static/img/favicon.ico">
  <link href="/static/bootstrap3/css/bootstrap.min.css" rel="stylesheet">
  <link href="http://cdn.bootcss.com/fancybox/2.1.5/jquery.fancybox.min.css" rel="stylesheet">
  <link href="/static/css/app.css" rel="stylesheet">
</head>
<body style="padding-top: 0px;">
  <div class="container-fluid">
    <div ng-controller="NavbarController" class="row header">
      <div class="container">
        <div class="pull-left">
          <a href="/"><img src="/static/img/logo-sm.png" style="width: 50px;"></a>
        </div>
        {% raw %}
        <form ng-if="!is_homepage()" ng-submit="go('/search/{{query}}')" class="form-inline pull-right" style="padding: 10px;">
            <div class="input-group">                                                                                                        
                <input ng-model="query" ng-minlength="2" ng-maxlength="50" type="text" class="form-control">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                </span>
            </div>
        </form>
        {% endraw %}
      </div>
    </div>
    <div class="container-fluid" ng-view></div>
    <div class="row footer text-center">
        &copy; University of Waterloo 2016 | Feedback to <a href="https://www.facebook.com/sunbaoshi" target="_blank">@sunbaoshi</a>
    </div>
  </div>
  <script src="/static/js/jquery-2.0.3.min.js"></script>
  <script src="http://cdn.bootcss.com/angular.js/1.1.5/angular.min.js"></script>
  <!--<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>-->
  <script src="/static/bootstrap3/js/bootstrap.min.js""></script>
  <script src="/static/js/app.js"></script>
  <script src="/static/js/services.js"></script>
  <script src="/static/js/controllers.js"></script>
  <script src="http://cdn.bootcss.com/fancybox/2.1.5/jquery.fancybox.pack.js"></script>
  <!--<script src="/static/js/jquery.dotdotdot.min.js"></script>-->
  <script>
  $(document).ready(function() {
    $('.fancy-image').fancybox({'cyclic':true});
    //$('.div-ellipsis').dotdotdot({height:100});
  });
  </script>
</body>
</html>
